  <h1>download</h1>
	<div>

    <!-- <md-input-container>
      <label>shortcut</label>
      <input type="text" ng-model="url">
    </md-input-container> -->
    <md-input-container>
      <label>Name</label>
      <input type="text" ng-model="formData.name">
    </md-input-container>

    <md-input-container>
      <label>Url</label>
      <input type="text" ng-model="formData.url">
    </md-input-container>


    <md-button class="md-raised" aria-label="createTorrents" data-ng-click="createTorrents()">Download</md-button>

    <div ng-repeat="torrent in torrents track by $index">
      <line data-torrent="torrent"></line>
    </div>

    <!-- <md-list> -->
      <!-- <md-subheader>List of torrents</md-subheader> -->
      <!--You can use md-no-sticky class-->
      <!-- <md-list-item layout="row" layout-align="space-around center">
        <div>
          <strong> Name </strong>
        </div>
        <div>
          <strong> Url </strong>
        </div>
        <div> -->
          <!-- <strong> Path </strong> -->
        <!-- </div> -->
      <!-- </md-list-item> -->


      <!-- <md-list-item ng-repeat="torrent in torrents track by $index" layout="row" layout-align="space-around center"> -->
        <!-- <span flex> <strong>id</strong> : {{torrent._id}} </span> -->
        <!-- <div style="border: 1px solid black" layout="column" layout-align="space-around center"> -->
          <!-- <strong>Name :</strong> -->
          <!-- <span> {{torrent.name}} </span> -->
        <!-- </div> -->
        <!-- <div style="border: 1px solid black" layout="column" layout-align="space-around center"> -->
          <!-- <strong>Url :</strong> -->
          <!-- <span>{{torrent.url }} </span> -->
        <!-- </div> -->
        <!-- <div style="border: 1px solid black" layout="column" layout-align="space-around center"> -->
          <!-- <strong>Path :</strong> -->
          <!-- <span flex> {{torrent.path}} </span> -->
        <!-- </div> -->
        <!-- <div style="border: 1px solid black" layout="column" layout-align="space-around center">
          <strong>MagnetURI :</strong>
          <span flex> {{torrent.torrent.magnetURI }} </span>
        </div> -->
        <!-- <<md-divider md-inset></md-divider> -->
      <!-- </md-list-item> -->
    <!-- </md-list> -->
    <!-- <div ng-repeat="torrent in torrents" layout="rows">
      <span> <strong>id</strong> : {{torrent._id}} </span>
      <span> <strong>Name</strong> : {{torrent.name}} </span>
      <span> <strong>Url</strong> : {{torrent.url}} </span>
      <span> <strong>Path</strong> : {{torrent.path}} </span>
      <span> <strong>File</strong> : {{torrent.file}} </span>
      <md-button class="md-mini" aria-label="remove" ng-click="removeTorrents(torrent._id)">remove</md-button>
    </div> -->
	</div>
